.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color:  rgba(238, 92, 92, 0.747);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: auto;
  min-height: 100%;
  margin-bottom: 70px;
}
.wrapper1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.secContainer{
  .homeText{
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;

    .title{
      color:  rgba(238, 92, 92, 0.747);
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.5rem;
    }
    .subtitle{
      color:  rgba(238, 92, 92, 0.747);
      opacity: 9;
      font-size: 25px;
      font-weight: 300;
      padding: 1rem 0;
      max-width: 70%;
      text-align: center;
      margin: auto;
    }
    
  }
}
.btn{
  margin-top: 30px;
  margin-left: 40%;
  padding: 20px;
  border-radius: 60px;
  background-color: rgba(238, 92, 92, 0.747);
  cursor: pointer;
  color:  white;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}   

